<!DOCTYPE html>
<html>
<head>
  <title>Добавление на карту кластеризатора меток</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://yandex.st/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{url_for('static', filename='css/MyStyle.css')}}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1.48/?lang=ru_RU"></script>  
  <script src="{{url_for('static', filename='js/lib/ymaps-pie-chart-clusterer.js')}}"></script>
  <script src="{{url_for('static', filename='js/help_functions.js')}}"></script>
  <script src="{{url_for('static', filename='js/create_years_clasterer.js')}}"></script>
  <script src="{{url_for('static', filename='js/create_trends_markers.js')}}"></script>
  <script src="{{url_for('static', filename='js/button_to_change_years.js')}}"></script>
  <script src="{{url_for('static', filename='js/button_to_change_school_subject.js')}}"></script>
  <script src="{{url_for('static', filename='js/button_to_change_trend.js')}}"></script>
  <script src="{{url_for('static', filename='js/button_checkbox.js')}}"></script>
  <script src="{{url_for('static', filename='js/YMapReady.js')}}"></script>
  <script>
  	'use strict'
  	function getJsonData(url_to_json) {
    	var jqXHR = $.ajax({
        	url: url_to_json,
        	async: false});

    	return $.parseJSON(jqXHR.responseText);
	} 

  	var ege_data = getJsonData("{{url_for('static', filename='Tables_data.json')}}");
  	var ege_trends = getJsonData("{{url_for('static', filename='School_trends.json')}}");
    var STEALF = false;
    
  </script>
</head>
<body>
	<div id="map"></div>
</body>
</html>